
@{
    ViewBag.Title = "Estado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 15px">
    <h3>@ViewBag.Mensaje</h3>
    @Html.ActionLink("Volver a registro", "Index", "Home", new { @class = "btn btn-info" })
</div>

